


/* Big tablet to 1200px; */
@media only screen and (max-width:1200px) {
  
    form{
        margin: 0 auto !important;
     }
}

/* Small tablet to big tablet from 768x to 1023px */
@media only screen and (max-width:1023px) {
    .section-from{
        margin: 0 !important;
       margin-bottom: 20rem !important;
     }
     form{
        margin: 0 auto !important;
     }
     /* .upload-form{
        margin-left: 0% !important;
     } */
     .sample{
        height: 10rem !important;
     }


}

/* Small phones to small tablets */
@media only screen and (max-width: 767px) {
    
    .sample__content{
        width: 35rem !important; 
     }
     .sample{
        height: 32rem !important;
     }
     .form-container{
        width: 30rem !important;
        
     }
     /* .upload-form{
        margin-left: 0% !important;
     } */
     .section-from{
        margin: 0 !important;
        margin-bottom: 20rem !important;
     }
}

/* Small phones from 0 to 480px; */
@media only screen and (max-width: 480px) {
 .sample__content{
    width: 25rem !important; 
 }
 .sample{
    height: 45rem !important;
 }
 .form-container{
    width: 30rem !important;
 }
 .section-from{
    margin: 0 !important;
    margin-bottom: 10rem !important;
 }
}