/* Big tablet to 1200px; */
@media only screen and (max-width:1200px) {}

/* Small tablet to big tablet from 768x to 1023px */
@media only screen and (max-width:1023px) {


    .np__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .description-text {
        font-size: 11px;
    }

}

/* Small phones to small tablets */
@media only screen and (max-width: 767px) {
    img {
        margin-bottom: 0;
    }

    .np__row label {
        display: none;
    }

    .linkz {
        display: none;
    }

    .np__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .np__row figure {
        height: 372px;

    }

    .description-text {
        font-size: 11px;
    }
}

/* Small phones from 0 to 480px; */
@media only screen and (max-width: 480px) {

    img {
        margin-bottom: 0;
    }

    .np__row label {
        display: none;
    }

    .linkz {
        display: none;
    }

    .np__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .np__row figure {
        height: 372px;

    }

    .description-text {
        font-size: 11px !important;
    }
}