/*First*/
.ddt_first {
    scroll-margin-bottom: -20px;
    margin-bottom: 2px;

}
.ddt_first_text{
    text-align: justify !important;
}
.ddt_first h1 {
    display: block;
    color: #fff;
    /*z-index: 1;*/
    position:absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-weight: bold;
}   

/* Paragraph */
.ddt_content {
    color: #fff;
    /*z-index: 1;*/
    transform: translate(-50%, -50%);
    white-space: normal;
    word-wrap: break-word;
    max-width: 80%;
    width: 600px;
    height: 200px;
    position: absolute;
    left: 35%;
    top: 60%;
    margin-bottom: 10px;
}

.ddt_content .ddt_first_head {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: -10px;
    text-align: left;
}

.ddt_content .ddt_first_text {
    text-align: justify;
    font-size: 20px;

}


/* Button */
.ddt_button-container {
    position: relative;
    width: 600px;
    height: 200px;
    content: justify;
    left: 8%;
}

.ddt_eating {
    left: 20%;
    margin-right: 100px;
}

.ddt_exercise {
    position: absolute;
    margin-left: 80px;
}

.ddt__border-btn {
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    padding: 14px 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    position: absolute;
    overflow: hidden;
    text-decoration: none;
    transform: translateX(-50%);
    z-index: 3;
    margin-top: 5px;
}

.ddt__border-btn i {
    font-size: 16px;
    margin-right: 10px;
    color: #119de3;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-decoration: none;
}


.ddt__room-btn a:hover{
    color: white;
}

.ddt__border-btn::before {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #1D2547;
    z-index: -1;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    /* transform: scaleY(0); */
    border-radius: 0;
    text-decoration: none;

    
}

.ddt__border-btn:hover::before {
    transform: scaleY(1);
    border: 1px solid transparent;
    color: #ffffff;
    filter: brightness(85%);
    text-decoration: none;
}

#comp-ltv57zi8 {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
}

.ddt_Oqnisf {
    overflow: visible;
}

/* Second */
.ddt_second_header {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: -10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ddt_second_header {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: -10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ddt_picking_option {
    margin-bottom: 200px;
    text-align: center;
}

.ddt_about-picture-2 {
    position: relative;
    margin-top: 50px;
    display: inline-block; 
    margin: 0 50px; 

}

.ddt_about-picture-2 img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    transition: all .7;
}

.ddt_picture-title-2 {
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    color: black;
    transform: translate(-50%, 60%);
    transition: all 0.5s;
    margin-top: -10px;
}

.ddt_about-picture-group-2 .ddt_about-picture-2:hover img,
.ddt_about-picture-group-2 .ddt_about-picture-2:active img {
    filter: brightness(55%) blur(2px);
    cursor: pointer;

}

.ddt_about-picture-group-2 .ddt_about-picture-2:hover .ddt_picture-title-2,
.ddt_about-picture-group-2 .ddt_about-picture-2:active .ddt_picture-title-2 {
    transform: translate(-55%, -500%);
    opacity: 1;
    color: #ffffff;
    margin-bottom: 50px;
}

/* Third */
.ddt_visit-tailor-area {
    display: block;
    margin-top: -60px;
}

.ddt_visit-tailor-area {
    background: #f4f4f4;
    display: flex;
    align-items: center;
    margin-bottom: -100px;
}

.ddt_fix {
    overflow: hidden;
}

.ddt_visit-tailor-area .ddt_tailor-offers {
    width: 100%;
    height: 500px;
}

.ddt_visit-tailor-area .ddt_tailor-offers {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 570px;
    width: 55%;
}

.ddt_visit-tailor-area .ddt_tailor-details {
    width: 40%;
    padding: 20px 20px 20px 60px;
}

.ddt_visit-tailor-area .ddt_tailor-details h2 {
    width: 300px;
    font-size: 40px;
    display: block;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ddt_visit-tailor-area .ddt_tailor-details p {
    color: #010A44;
    line-height: 1.7;
    font-size: 14px;
}

.ddt_tailor-details .ddt_btn {
    background: #FD8F5F;
    text-transform: uppercase;
    padding: 27px 44px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 2px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 0px;
    transition: all 0.3s;
}

.ddt_btn:hover,
.ddt_btn:active {
    filter: brightness(90%);
    transform: scale(110%);
    border: 2px solid rgb(185, 114, 20);
    text-decoration: none;
}

.ddt_btn-3 {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .ddt_btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .ddt_btn-3:before,
  .ddt_btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .ddt_btn-3:before {
    height: 0%;
    width: 2px;
  }
  .ddt_btn-3:after {
    width: 0%;
    height: 2px;
  }
  .ddt_btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .ddt_btn-3:hover:before {
    height: 100%;
  }
  .ddt_btn-3:hover:after {
    width: 100%;
  }
  .ddt_btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .ddt_btn-3 span:before,
  .ddt_btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .ddt_btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .ddt_btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .ddt_btn-3 span:hover:before {
    height: 100%;
  }
  .ddt_btn-3 span:hover:after {
    width: 100%;
  }

  .ddt_custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.ddt_btn_calculate_container {
    display: flex;
    justify-content: center;
}

.ddt_btn_calculate {
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    background-color: #112164;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0.25rem;
    padding: 4px 1.5rem;
    line-height: 1.5;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s ease-out, box-shadow 0.2s ease-out;
    cursor: pointer;
    transform: translateX(230px);
    transition: all 0.3s;
    position: relative;
}

.ddt_btn_calculate:hover {
    background-color: #344b92;
    transform: translateX(230px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

