/* NAVBAR */
#header {
    height: 72px;
    background-color: #1D2547;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    /* text-transform: uppercase; */
}

.subnav > li > a  {
    color: #fff;
}

#nav li a {
    text-decoration: none;
    line-height: 72px;
    padding: 0 24px;
    display: block;
    font-size: 1.6rem;
}
#nav li:hover .subnav {
    display: block;
    background-color: #1D2547;
    
}

#nav > li:hover > a, 
#nav .subnav li:hover a {
    color: var(--blue_pastel-color);
    background-color: #1D2547;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1D2547;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff; 
}

#nav .subnav a {
    color: #fff;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}


#header .mobile-menu-btn:hover {
    background-color: #fff;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #1D2547;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

.left {
    display: flex;
}

.ql__navbar__logo-img {
    width: 108px;
}

.right {
    position: relative;
    top: 20px;
    float: right;
    padding: 0 24px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn{
    float: right;
    top: 13px;
    padding: 0 24px;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: var(--blue_primary-color);
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #1D2547;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

.ql__navbar__logo-img {
    width: 108px;
}

.ql__navbar__form-search {
    display: inline-block;
}

.ql__navbar__user-container {
    display: inline-block;
}


.ql__navbar {
    width: 100%;
    height: 68px;
    /* background-color: #efe2da; */
    /* background-color: var(--blue_pastel-color); */
    background-color: #1D2547;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

.ql__navbar__left {
    display: flex;
    align-items: center;
}

.ql__navbar__logo-img {
    width: 108px;
}

.ql__navbar__category-list {
    height: 68px;
}

.ql__navbar__list {
    display: inline-block;
    list-style: none;
}

.ql__navbar__item {
    display: inline-block;
    font-size: 1.8rem;
    margin: 0 8px 0;
}

.ql__navbar__item-name:hover {
    color: #ffffff !important;
}

.ql__navbar__item-name {
    text-decoration: none;
    color: var(--text_white-color);
    text-align: center;
    line-height: 10rem;
}


.ql__navbar__form-search {
    display: inline-block;
}

.ql__navbar__user-container {
    display: inline-block;
}

.mobile__menu-btn {
    display: inline-block;
}

.right .ql__navbar__form input {
    width: 264px;
    height: 36px;
    background-color: transparent;
    margin: 0 8px;
    border-bottom: 1px solid #fff;
}

.ql__navbar__form {
    position: relative;
}

.ql__navbar__form input::placeholder {
    color: var(--text_white-color);
    font-size: 1.4rem;
}

.ql__navbar__form input:focus {
    outline: none;
}

.ql__navbar__form i {
    display: block;
    position: absolute;
    margin: auto;
    right: 20px;
    font-size: 1.4rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text_white-color)
}

.ql__navbar__user i {
    font-size: 1.4rem;
    margin: auto;
    color: var(--text_white-color);
}

.ql__navbar__user-acc {
    text-decoration: none;
    color: var(--text_white-color);
    font-size: 1.4rem;
    padding: 0 8px;
}

.ql__navbar__user-container {
    position: relative;
    cursor: pointer;
}

.ql__navbar__user-container::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 28px;
    background-color: transparent;
    top: 11px;
    right: 5px;
}

.ql__navbar__user-list {
    position: absolute;
    top: calc(100% + 16px);
    right: 6px;
    width: 136px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    margin-top: 2px;
    z-index: 100;
    background-color: #fff;
    display: none;
}

.ql__navbar__user-list::before {
    content: "";
    border-style: solid;
    border-width: 15px 26px;
    border-color: transparent transparent var(--text_white-color) transparent;
    position: absolute;
    top: -28px;
    right: 1px;
}

.ql__navbar__user-container:hover .ql__navbar__user-list {
    display: block;
}

.ql__navbar__user-container:hover .ql__navbar__user-acc {
    color: var(--blue_primary-color);
}

.ql__navbar__user-container:hover i {
    color: var(--blue_primary-color);
}

.ql__navbar__user-item {
    list-style: none;
    border-bottom: 1px solid var(--blue_primary-color);
    padding: 2px 8px;
    height: 32px;
    cursor: pointer;
}

.ql__navbar__user-item:hover {
    background-color: var(--blue_pastel-color);
}

.ql__navbar__user-item-link:hover {
    color: var(--blue_primary-color);
}

.ql__navbar__user-item-link {
    width: 120%;
    color: var(--blue_primary-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 32px;
}

.quanle_icon {
    color: #fff;
    font-size: 1.4rem;
    display: inline-block;
    padding: 0 4px;
}

.mobile__menu-btn {
    display: none;
}





/* PC */
@media (min-width: 64em) {
    /* .ql__slider-content {
        display: none;
    } */

}

/* Tablet && Mobile */
@media (max-width: 63.9375em) {
    .ql__slider-content {
        display: none;
    }
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .right {
        
    }

    .ql__navbar__form-search, .ql__navbar__user-container {
        display: none;
    }

    .mobile__menu-btn {
        display: block;
        position: relative;
        top: -4px;
    }

    #nav .subnav {
        width: auto;
        box-shadow: none;
    }

}

/*  Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
   
}

/* Mobile */
@media (max-width: 46.1875em) {
    .ql__slider-content {
        display: none;
    }
    .s-col-full,
    .s-full-width {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }


}




/* Big tablet to 1200px; */
@media only screen and (max-width:1200px) {
  
}

/* Small tablet to big tablet from 768x to 1023px */
@media only screen and (max-width:1023px) {
  
}


/* Small phones to small tablets */
@media only screen and (max-width: 767px) {
    .pos p {
        display: none;
    }
 
}

/* Small phones from 0 to 480px; */
@media only screen and (max-width: 480px) {
    .pos p {
        display: none;
    }
}