/* Big tablet to 1200px; */
@media only screen and (max-width:1200px) {
    .about-picture-group-1 {
        margin-top: -30px;
    }

    .about-picture-2 img {
        margin-top: 80px;
    }

    .about-project-section {
        height: 180vh !important;
    }

    .about-us-section .about-container {
        margin-top: -7rem;
    }

    .about-project-section .about-project-section-tittle h2 {
        margin-top: 15rem;
    }

    .slider-area .slider-row-caption {
        margin-left: 80px;
    }

    .about-project-section .about-p-long-2 {
        width: 75%;
    }
}

/* Small tablet to big tablet from 768x to 1023px */
@media only screen and (max-width:1023px) {
    .about-project-section .about-container {
        width: 100%;
    }
    .about-project-section {
        height: 190vh !important;
    }
    .slider-row {
        margin-left: -170px;
    }

    .about-us-section .about-p-long {
        max-width: 60%;
    }

    .ql__navbar {
        width: 100%;
    }

    .pos {
        width: 25%;
    }

    .logo_text {
        width: 100%;
        height: 100%;
    }

    .footer-social a {
        margin-right: 0px;
    }

}

/* Small phones to small tablets */
@media only screen and (max-width: 767px) {
    .about-project-section .about-container {
        width: 100%;
    }

    .about-project-section {
        height: 260vh !important;
    }

    .about-us-section .about-container {
        width: 100%;
    }

    .slider-row {
        margin-left: -75px;
    }

    .ql__navbar {
        width: 100%;
    }

    .pos {
        width: 25%;
    }

    .logo_text {
        width: 150%;
        height: 150%;
    }

    .footer-social a {
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

/* Small phones from 0 to 480px; */
@media only screen and (max-width: 480px) {
    .about-project-section .about-container {
        width: 100%;
    }

    .about-project-section {
        height: 270vh !important;
    }

    .about-us-section .about-container {
        width: 100%;
    }

    .slider-row {
        margin-left: -75px;
    }

    .ql__navbar {
        width: 100%;
    }

    .pos {
        width: 45%;
        margin-right: 10px;
    }

    .logo_text {
        width: 200%;
        height: 400%;
    }

    .footer-social a {
        margin-left: -5px;
    }

    .about-p-long-2 {
        font-size: 1.5rem;
        width: 70%;
        margin: 0 auto;
    }
}