/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.upload-title {
    text-align: center;
    color: #333;
}

.upload-form .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.result-title {
    text-align: center;
}

.form-container, 
.image-preview,
.result-list {
    margin: auto;
}

.result-list {
    width: 40%;
    text-align: center;
}

.file-input-wrapper {
    margin-bottom: 15px;
}

.file-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 3rem;
}

.file-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.6rem;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #112164;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #344b92;
}

.image-preview {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-title {
    color: #333;
    margin-top: 20px;
}

.result-list {
    list-style-type: none;
    padding: 0;
}

.result-item {
    background: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 2rem;
}


/* Big tablet to 1200px; */
@media only screen and (max-width:1200px) {
    .sample {
        margin-bottom: 200px;
    }

    .sample__content {
        width: 600px;
        margin: 0 auto !important;
    }
}

/* Small tablet to big tablet from 768x to 1023px */
@media only screen and (max-width:1023px) {
    .sample {
        margin-bottom: 200px;
    }

    .sample__content {
        width: 600px;
        margin: 0 auto !important;
    }
}


/* Small phones to small tablets */
@media only screen and (max-width: 767px) {}

/* Small phones from 0 to 480px; */
@media only screen and (max-width: 480px) {}