{% load static %}

/* Le Minh Quan */

.ql__main {}

.ql__header {}

/* NAVBAR */
.ql__navbar {
    width: 100%;
    height: 100px;
    /* background-color: #efe2da; */
    /* background-color: var(--blue_pastel-color); */
    background-color: #1D2547;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.ql__navbar__left {
    display: flex;
}

.ql__navbar__logo-img {
    width: 108px;
}

.ql__navbar__category-list {}

.ql__navbar__list {
    display: flex;
    list-style: none;
}

.ql__navbar__item {
    font-size: 1.8rem;
    margin: 0 8px 0;
}

.ql__navbar__item-name:hover {
    color: #ffffff !important;
}

.ql__navbar__item-name {
    text-decoration: none;
    color: var(--text_white-color);
    text-align: center;
    line-height: 10rem;
}

.ql__navbar__right {
    display: flex;
    align-items: center;
}

.ql__navbar__right .ql__navbar__form input {
    width: 264px;
    height: 36px;
    background-color: transparent;
    margin: 0 8px;
    border-bottom: 1px solid #fff;
}

.ql__navbar__form {
    position: relative;
}

.ql__navbar__form input::placeholder {
    color: var(--text_white-color);
    font-size: 1.4rem;
}

.ql__navbar__form input:focus {
    outline: none;
}

.ql__navbar__form i {
    display: block;
    position: absolute;
    margin: auto;
    right: 20px;
    font-size: 1.4rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text_white-color)
}

.ql__navbar__user i {
    font-size: 1.4rem;
    margin: auto;
    color: var(--text_white-color);
}

.ql__navbar__user {}

.ql__navbar__user-acc {
    text-decoration: none;
    color: var(--text_white-color);
    font-size: 1.4rem;
    padding: 0 8px;
}

.ql__navbar__user-container {
    position: relative;
    cursor: pointer;
}

.ql__navbar__user-container::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 28px;
    background-color: transparent;
    top: 11px;
    right: 5px;
}

.ql__navbar__user-list {
    position: absolute;
    top: calc(100% + 16px);
    right: 6px;
    width: 136px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    margin-top: 2px;
    z-index: 1;
    background-color: #1D2547;
    display: none;
}

.ql__navbar__user-list::before {
    content: "";
    border-style: solid;
    border-width: 15px 26px;
    border-color: transparent transparent var(--blue_pastel-color) transparent;
    position: absolute;
    top: -28px;
    right: 1px;
}

.ql__navbar__user-container:hover .ql__navbar__user-list {
    display: inline-block;
}

.ql__navbar__user-container:hover .ql__navbar__user-acc {
    color: var(--blue_primary-color);
}

.ql__navbar__user-container:hover i {
    color: var(--blue_primary-color);
}

.ql__navbar__user-item {
    list-style: none;
    border-bottom: 1px solid var(--text_white-color);
    padding: 2px 8px;
    height: 24px;
    cursor: pointer;
}

.ql__navbar__user-item-link {
    width: 100%;
    color: var(--text_white-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
}

/* SLIDER */
.ql__slider {
    position: relative;
    margin-top: 100px;
    padding-top: 50%;
    background: url('../img/Health.jpg') top center / cover no-repeat;
}

.ql__slider-content {
    width: 560px;
    height: 300px;
    position: absolute;
    left: 80px;
    top: 230px;
    background-color: rgba(255, 255, 255, 0.9);
}

.ql__slider-content-heading {
    font-size: 7rem;
    color: var(--pink_primary-color);
    margin: 8px;
    padding-right: 24px;
    padding-left: 24px;

    font-weight: 700;
}

.ql__slider-content__content {
    font-size: 1.8rem;
    margin: 10px;
    color: black;
    line-height: 2rem;
    padding-right: 24px;
    padding-left: 24px;
    text-align: justify;
}




/* Lai Quan Thien */
.new-arrival {
    padding-top: 90px;
    padding-bottom: 10px;
}

.container {
    max-width: 720px;
}

.section-tittle h2 {
    font-size: 40px;
    display: block;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.section-tittle p {
    color: #7F85A8;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    width: 800px;
    margin-left: -200px;
}


.horizontal-line {
    width: 70%;
    margin: 0 auto;
    margin-top: -25px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}


.lqt__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    margin-left: -200px;
}


.about-picture {
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;


}

.about-picture img {
    width: 250px;
    /* Đặt chiều rộng cố định cho ảnh */
    height: 150px;
    /* Đặt chiều cao cố định cho ảnh */
    object-fit: cover;
    transition: all .7;
}

.picture-title {

    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    color: black;
    transform: translate(-55%, 50%);
    transition: all 0.5s;
}


.about-picture:hover img,
.about-picture:active img {
    filter: brightness(55%) blur(2px);
    cursor: pointer;

}

.about-picture:hover .picture-title,
.about-picture:active .picture-title {
    transform: translate(-55%, -300%);
    opacity: 1;
    color: #ffffff;
}






.visit-tailor-area {
    display: block;
}

.visit-tailor-area {
    background: #F2E1D9;
    display: flex;
    align-items: center;
}

.fix {
    overflow: hidden;
}

.visit-tailor-area .tailor-offers {
    width: 100%;
    height: 500px;
}

.visit-tailor-area .tailor-offers {
    background-image: url(https://images.pexels.com/photos/40720/basil-herbs-green-mediterranean-40720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=22);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 570px;
    width: 55%;
}

.visit-tailor-area .tailor-details {
    width: 40%;
    padding: 20px 20px 20px 60px;
}

.visit-tailor-area .tailor-details h2 {
    width: 300px;
    font-size: 40px;
    display: block;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.visit-tailor-area .tailor-details p.pera-bottom {
    margin-bottom: 41px;
}

.mb-60 {
    margin-bottom: 60px;
}


.visit-tailor-area .tailor-details p {
    color: #010A44;
    line-height: 1.7;
    font-size: 14px;
}


.tailor-details .lqt__btn {
    background: #FD8F5F;
    text-transform: uppercase;
    padding: 27px 44px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    -moz-user-select: none;
    letter-spacing: 2px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 0px;
    transition: all 0.3s;
}

.lqt__btn:hover,
.lqt__btn:active {
    filter: brightness(90%);
    transform: scale(110%);
    border: 2px solid rgb(185, 114, 20);
    text-decoration: none;

}



/*Mai Nguyen Nam Phuong */
.sample {
    width: 100%;
    height: 600px;
}

.sample h2 {
    margin-top: 80px;
}

.sample__content {
    font-size: 1.6rem;
}

.sample {
    text-align: center;
    font-size: 3rem;
    left: 50%;
    margin-top: 10px;
}

.sample p {
    text-align: center;
    /* font-weight: 100%; */
    /* margin-top: 20px; */
}

.np__row {
    margin-left: 11%;
    margin-right: 10%;
}

.np__row figure {
    float: left;
    width: 31%;
    border: 1px solid gray;
    margin-top: 40px;
    margin-left: 1%;
}

.np__row figure img {
    display: block;
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.np__row figcaption {
    text-align: center;
    margin-top: 10px;
}

.linkz {
    text-decoration: none;
    color: black;
}

.animalimg {
    margin-bottom: -25px;
}

.animalimg:hover {
    border-bottom: 2px solid black;
}

.np__prc {
    font-size: 2rem;
    font-weight: 400px;
}

.np__btn {
    margin-top: 35px;
    margin-bottom: 80px;
    margin-left: 72px;

}

.np__btn a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    background-color: #fd8f5f;
    color: white;
    transition: all 0.3s;
}



.np__Discoverybtn {
    text-transform: uppercase;
    margin-right: 20px;
}

.np__Discoverybtn:hover,
.np__Discoverybtn:active {
    filter: brightness(90%);
    transform: scale(110%);
    border: 2px solid rgb(185, 114, 20);
    text-decoration: none;
}



.ins {
    width: 100%;
    height: 550px;
    background-color: #f4f4f4;
    margin-top: 100px;
    padding-top: 50px;
}

.np__content {
    margin-top: 80px;
    float: left;
    margin-left: 150px;
    height: 300px;
    width: 29%;
    margin-right: 40px;
}

.btnz {
    margin-top: 20px;
}

.btnz a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    background-color: #fd8f5f;
    color: white;
    transition: all 0.3s;
}

.np__contenta {
    font-size: 1.5rem;
    margin-top: -5px;
}

.imgz .anhz {
    width: 24%;
    height: 390px;
    margin-top: 30px;
    margin-left: 10px;
    float: left;
    position: relative;
    object-fit: cover;


}

.imgz .anhz:hover,
.imgz .anhz:active {
    filter: brightness(80%);
}

.imgz {
    position: relative;
}


/*Đặng Đức Tài*/

.Ducktai {
    margin-top: 100px;
    margin-bottom: -100px;
    height: 600px;
    text-align: center;
    position: relative;

}

.Ducktai .tieu-de p{
    margin: 0 auto;
    margin-top: 500px;
    text-align: left; 
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    max-width: 100%;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.Ducktai .tieu-de .h2_chung{
    /* padding-top: 80px; */
    margin-top: 100px;
    font-size: 40px;
    width: 100%;
}


.ddt__product-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
}

.ddt__product-item {
    text-align: center;
    margin: 0 20px;
}

.ddt__product-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: all .7;
}

.ddt__product-link {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: black;
    font-size: 20px;
    transition: all 0.5s;
}


.ddt__product-item:hover img,
.ddt__product-item:active img {
    filter: brightness(55%) blur(2px);
    cursor: pointer;

}

.ddt__product-item:hover .ddt__product-link,
.ddt__product-item:active .ddt__product-link {
    transform: translate(0%, -320%);
    opacity: 1;
    color: #ffffff;
}

.ddt__border-btn {
    border: 1px solid #FD8F5F;
    color: #FD8F5F;
    background: none;
    border-radius: 0px;
    text-align: center;
    text-transform: uppercase;
    padding: 17px 42px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    text-decoration: none;
}

.ddt__border-btn i {
    font-size: 16px;
    margin-right: 10px;
    color: #FD8F5F;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-decoration: none;
}


.ddt__room-btn a:hover {
    color: white;
}

.ddt__border-btn::before {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #FD8F5F;
    z-index: -1;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    border-radius: 0;
    text-decoration: none;


}

.ddt__border-btn:hover::before {
    transform: scaleY(1);
    border: 1px solid transparent;
    color: #ffffff;
    filter: brightness(85%);

    text-decoration: none;
}

/*Nguyen Quang Thinh*/
.background-nqt {
    background-color: #f2e1d9;
    position: relative;
    padding-top: 100px;
    /* padding-bottom: 50px; */
    margin-top: 100px;
}

.NQT_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 80px !important;
    margin-right: auto;
    margin-left: auto;
}

.NQT_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.pos {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
}

.pos h4 {
    color: #fff;
    font-size: 17px;
    margin-bottom: 40px;
    font-weight: 500;
}

.cap p {
    font-size: 16px;
    color: #57667e;
}

@media (min-width: 992px) {
    .pos {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.icon img {
    margin-bottom: 26px;
    display: block;
}


.cap h5 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 12px;
    display: inline-block;
}

.NQT_div {
    display: block;
}


.single-cat img {
    margin-bottom: 26px;
    display: block
}



@media only screen and (min-width: 992px) {
    .single-cat h5 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 12px;
        display: block;
    }
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 3rem !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.footer-wrapper {
    position: relative;
}

.footer-area {
    background: #1D2547;
    padding-left: 100px;
    padding-right: 100px;
}

.footer-padding {
    padding-top: 100px;
    /* padding-bottom: 50px; */
}

.NQT_justify-content-between {
    justify-content: space-between !important;
}

.NQT_ul {
    margin: 0px;
    padding: 0px;
    padding-left: 0rem !important;
}

.NQT_li {
    list-style: none;
    margin-bottom: 15px;
}

.NQT_a a:hover {
    color: red;
    text-decoration: underline;
}

.NQT_li a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.footer-social a {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    border: 1px solid #fff;
}

.pos a {
    font-size: 14px;
    font-weight: 300px;
    transition: all .3;

}

.pos a:hover {
    /* background: #fff; */
    color: #FD8F5F;
}

.pos p {
    color: #57667e;
    font-size: 14px;
}

.footer-social a i {
    transition: .4s;
    display: inline-block;
    transform: rotateY(0deg);
}

.footer-social a:hover i {
    transform: rotateY(180deg);
}

.copyright {
    text-align: center;
    width: 200%;
    color: #C2C5DB;
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 12px;
    margin-top: 50px;
    /* margin-left: 240px; */
}


/* INTRODUCTION-LAI QUAN THIEN */

