<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Care</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="./assests/css/base.css">
    <link rel="stylesheet" href="./assests/css/introduction.css">
    <link rel="stylesheet" href="./assests/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="thanh-navi">
        <div class="ql__main">
            <div class="ql__header">
                <div class="ql__navbar">
                    <div class="ql__navbar__left">
                        <a href="/index.html" class="ql__navbar__logo-img">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 566.93 566.93">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            isolation: isolate;
                                        }

                                        .cls-2 {
                                            fill: url(#linear-gradient);
                                        }

                                        .cls-3 {
                                            fill: url(#linear-gradient-2);
                                        }

                                        .cls-4 {
                                            fill: url(#linear-gradient-3);
                                        }

                                        .cls-5 {
                                            fill: url(#linear-gradient-4);
                                        }

                                        .cls-6 {
                                            fill: url(#linear-gradient-5);
                                        }

                                        .cls-7 {
                                            fill: url(#linear-gradient-6);
                                        }

                                        .cls-8 {
                                            fill: url(#linear-gradient-7);
                                        }

                                        .cls-10,
                                        .cls-9 {
                                            opacity: 0.29;
                                            mix-blend-mode: multiply;
                                        }

                                        .cls-9 {
                                            fill: url(#linear-gradient-8);
                                        }

                                        .cls-10 {
                                            fill: url(#linear-gradient-9);
                                        }

                                        <!-- .cls-11 {
                                            font-size: 101.83px;
                                            fill: #dc55a8;
                                            font-family: Poppins-SemiBold, Poppins;
                                            font-weight: 600;
                                        } -->

                                        .cls-12 {
                                            fill: url(#linear-gradient-10);
                                        }
                                    </style>
                                    <linearGradient id="linear-gradient" x1="172.99" y1="276.98" x2="188.99" y2="276.98"
                                        gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#9ce2f8" />
                                        <stop offset="0.4" stop-color="#38aaea" />
                                        <stop offset="1" stop-color="#008be2" />
                                    </linearGradient>
                                    <linearGradient id="linear-gradient-2" x1="158.04" y1="259.89" x2="177.8"
                                        y2="259.89" xlink:href="#linear-gradient" />
                                    <linearGradient id="linear-gradient-3" x1="139.75" y1="247.48" x2="165" y2="247.48"
                                        xlink:href="#linear-gradient" />
                                    <linearGradient id="linear-gradient-4" x1="141.22" y1="213.2" x2="259.76"
                                        y2="364.84" xlink:href="#linear-gradient" />
                                    <linearGradient id="linear-gradient-5" x1="140.09" y1="207.97" x2="367.55"
                                        y2="143.9" xlink:href="#linear-gradient" />
                                    <linearGradient id="linear-gradient-6" x1="230.57" y1="262.98" x2="309.59"
                                        y2="332.39" xlink:href="#linear-gradient" />
                                    <linearGradient id="linear-gradient-7" x1="398.22" y1="84.44" x2="263.66" y2="368.5"
                                        xlink:href="#linear-gradient" />
                                    <linearGradient id="linear-gradient-8" x1="228.42" y1="174.52" x2="374.6"
                                        y2="144.62" xlink:href="#linear-gradient" />
                                    <linearGradient id="linear-gradient-9" x1="230.57" y1="262.98" x2="309.59"
                                        y2="332.4" xlink:href="#linear-gradient" />
                                    <linearGradient id="linear-gradient-10" x1="281.7" y1="478.24" x2="281.7"
                                        y2="405.44" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#9ce2f8" />
                                        <stop offset="0.16" stop-color="#38aaea" />
                                        <stop offset="1" stop-color="#008be2" />
                                    </linearGradient>
                                </defs>
                                <title>Artboard 1</title>
                                <g class="cls-1">
                                    <g id="Layer_1" data-name="Layer 1">
                                        <path class="cls-2"
                                            d="M173,261.35c-.34-8.44,6.12-12.93,9.05-.56s6.93,40,6.93,40-15.5-2.73-15.33-3.83S173,261.35,173,261.35Z" />
                                        <path class="cls-3"
                                            d="M158.06,240.59c-.42-10.42,7.56-16,11.18-.69s8.56,49.4,8.56,49.4-19.15-3.37-18.94-4.73S158.06,240.59,158.06,240.59Z" />
                                        <path class="cls-4"
                                            d="M143,226c-.46-11.58,8.41-17.76,12.44-.77S165,280.19,165,280.19s-25.48-26.28-25.25-27.8S143,226,143,226Z" />
                                        <path class="cls-5"
                                            d="M244.32,383.66c-3.56-55.89-61.37-59.2-86.28-79s-30.38-70.42-28.84-81.78,7.56-17,12.57-1.1,9.69,44.41,28.58,57.6,60.43,19.42,34.14.37-20.32-39.78-15.9-44.15,16.37,20.57,31.95,29,37.13,17.31,47.92,43.5C283.46,344.5,244.32,383.66,244.32,383.66Z" />
                                        <path class="cls-6"
                                            d="M363.09,103.69c-17.2-11.73-45.76-18.44-73.78-.42-11.37,10.82-20.93,25.48-27.35,44.51,0,0-32.95-36.25-85.67-16.48s-49.43,76.89-49.43,76.89,15.17-46.51,65.91-49.43,72.54,49,72.54,49,11.05-52.64,57.06-64.39c42.44-10.83,68,22.49,57.23,64C397.85,165.07,390.42,122.33,363.09,103.69Z" />
                                        <path class="cls-7"
                                            d="M336.87,287.55s-37.73-58.09-114.45-30.49c0,0,39.21-.82,57.07,43.94,11.11,27.84-11.07,67-11.07,67S306.26,333.83,336.87,287.55Z" />
                                        <path class="cls-8"
                                            d="M421.23,113.73c-26-38.26-90.8-49.6-131.92-10.46,28-18,56.58-11.31,73.78.42,27.33,18.64,34.76,61.38,16.51,103.66a88.78,88.78,0,0,1-4.28,12.56c-17.54,41.34-38.45,67.64-38.45,67.64C306.26,333.83,268.42,368,268.42,368,438,296.81,465.74,179.33,421.23,113.73Z" />
                                        <path class="cls-9"
                                            d="M374.87,161.24h0c7.26,12,9.36,28.27,4.74,46.1,18.25-42.28,10.82-85-16.51-103.66-17.2-11.73-45.76-18.44-73.78-.42C312,90.1,378.51,93.33,374.87,161.24Z" />
                                        <path class="cls-10"
                                            d="M323.16,272.55c-8.24,35.67-38.17,79-54.74,95.44,0,0,37.84-34.16,68.45-80.44A80.85,80.85,0,0,0,323.16,272.55Z" />
                                        <!-- <text class="cls-11"
                                            transform="translate(127.22 477.53) scale(0.96 1)">VIGOR</text> -->
                                        <path class="cls-12"
                                            d="M180.92,406.46h14.63l-25.13,71.07H153.73l-25.14-71.07h14.73L162.17,463Z" />
                                        <path class="cls-12" d="M203.8,406.46h13.74v71.07H203.8Z" />
                                        <path class="cls-12"
                                            d="M294.61,427.84H278.8c-3.14-6-8.83-9.17-16.1-9.17-12.27,0-20.81,9.07-20.81,23.22,0,14.46,8.64,23.42,21.4,23.42,10.6,0,17.38-6.31,19.44-16.39H259.17V438h37.11v12.42a33.82,33.82,0,0,1-33.48,27.7c-19.93,0-35.05-15-35.05-36.25s15.12-36.35,34.95-36.35C278,405.54,290.19,413.58,294.61,427.84Z" />
                                        <path class="cls-12"
                                            d="M338.3,478.24c-19.34,0-35.15-15.07-35.15-36.45S319,405.44,338.3,405.44c19.53,0,35,15.07,35,36.35S357.74,478.24,338.3,478.24Zm0-12.73c12.37,0,20.91-9.26,20.91-23.72s-8.54-23.52-20.91-23.52-21,9.06-21,23.52S325.83,465.51,338.3,465.51Z" />
                                        <path class="cls-12"
                                            d="M409.28,406.46c16.49,0,24.74,9.87,24.74,21.79,0,8.65-4.62,17.41-15.61,20.46l16.39,28.82H418.9l-15.12-27.7H397.3v27.7H383.55V406.46Zm-.49,11.81H397.3v20.87h11.49c7.65,0,11.09-4.17,11.09-10.59S416.44,418.27,408.79,418.27Z" />
                                    </g>
                                </g>
                            </svg>
                        </a>

                        <div class="ql__navbar__category-list">
                            <ul class="ql__navbar__list">
                                <li class="ql__navbar__item">
                                    <a href="index.html" class="ql__navbar__item-name">Home</a>
                                </li>
                                <li class="ql__navbar__item">
                                    <a href="introduction.html" class="ql__navbar__item-name">Tools</a>
                                </li>
                                <li class="ql__navbar__item">
                                    <a href="#" class="ql__navbar__item-name">About Us</a>
                                </li>
                                <li class="ql__navbar__item">
                                    <a href="healthinfo.html" class="ql__navbar__item-name">Page</a>
                                </li>
                                <li class="ql__navbar__item">
                                    <a href="loseweight_exercise.html" class="ql__navbar__item-name">Blog</a>
                                </li>
                                <li class="ql__navbar__item">
                                    <a href="#fter" class="ql__navbar__item-name">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="ql__navbar__right">
                        <div class="ql__navbar__form-search">
                            <form action="#" class="ql__navbar__form">
                                <input type="text" placeholder="Search Product" style="color: #fff">
                                <i class="navbar__icon fa-solid fa-magnifying-glass"></i>
                            </form>
                        </div>

                        <div class="ql__navbar__user-container">
                            <div class="ql__navbar__user">
                                <i class="fa-regular fa-user"></i>
                                <a href="login.html" class="ql__navbar__user-acc">My Account</a>
                            </div>
                            <ul class="ql__navbar__user-list">
                                <li class="ql__navbar__user-item">
                                    <a href="" class="ql__navbar__user-item-link">Quản lý tài khoản</a>
                                </li>
                                <li class="ql__navbar__user-item">
                                    <a href="" class="ql__navbar__user-item-link">Quên mật khẩu</a>
                                </li>
                                <li class="ql__navbar__user-item">
                                    <a href="" class="ql__navbar__user-item-link">Đơn hàng của tôi</a>
                                </li>
                                <li class="ql__navbar__user-item">
                                    <a href="" class="ql__navbar__user-item-link">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slider-area">
        <div class="slider-area-photo"></div>
        <div class="container">
            <div class="slider-row">
                <div class="col-xl-6 col-lg-8 col-md-8">
                    <div class="slider-row-caption">
                        <h1>About</h1>
                        <nav aria-label="slider-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html" tabindex="0">Home</a></li>
                                <li class="breadcrumb-item"> <a href="#" tabindex="0"> About</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="about-us-section">
        <div class="about-container">
            <div class="about-us-section-row">
                <div class="about-us-section-tittle">
                    <h2>Our Story</h2>
                    <p class="about-p-long">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
            <div class="about-picture-group-1">
                <div class="about-picture-2">
                    <img src="https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                    <p class="picture-title-2">
                        Lại Quan Thiên
                    </p>
                </div>
                <div class="about-picture-2">
                    <img src="https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                    <p class="picture-title-2">
                        Lê Minh Quân
                    </p>
                </div>
                <div class="about-picture-2">
                    <img src="https://images.pexels.com/photos/327143/pexels-photo-327143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                    <p class="picture-title-2">
                        Đặng Đức Tài
                    </p>
                </div>
            </div>
            <div class="about-picture-group-2">
                <div class="about-picture-2">
                    <img src="https://images.pexels.com/photos/342230/pexels-photo-342230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                    <p class="picture-title-2">
                        Nguyễn Quang Thịnh
                    </p>
                </div>
                <div class="about-picture-2">
                    <img src="https://images.pexels.com/photos/299410/pexels-photo-299410.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                    <p class="picture-title-2">
                        Mai Nguyễn Nam Phương
                    </p>
                </div>
 
            </div>
        </div>

            
    </section>

    <section class="about-project-section">
        <div class="about-container">
            <div class="about-project-section-row">
                <div class="about-project-section-tittle">
                    <h2>Our Project</h2>
                    <p class="about-p-long-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Illum quam quaerat repudiandae quidem. 
                        Soluta, explicabo adipisci quibusdam nulla animi repellendus error eos a et dicta aliquid magni ipsam iusto iure.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Illum quam quaerat repudiandae quidem. 
                        Soluta, explicabo adipisci quibusdam nulla animi repellendus error eos a et dicta aliquid magni ipsam iusto iure.
                    </p>
                </div>
            </div>

            <div class="project-photo">
                <img src="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-pro">
                    Calo Calculator
                </p>
            </div>
            <!-- <div class="horizontal-line-2">
            </div> -->
            <div class="lqt__row_2">
                <div class="col span-1-of-4 about-picture">
                    <img src="https://images.pexels.com/photos/257816/pexels-photo-257816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="calo">
                    <p class="picture-title">
                        Calo Calculator
                    </p>
                </div>

                <div class="col span-1-of-4 about-picture">
                    <img src="https://images.pexels.com/photos/2080544/pexels-photo-2080544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="tdee">
                    <p class="picture-title">
                        TDEE Calculator
                    </p>
                </div>

                <div class="col span-1-of-4 about-picture">
                    <img src="https://images.pexels.com/photos/53404/scale-diet-fat-health-53404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="bmr">
                    <p class="picture-title">
                        BMR Calculator
                    </p>
                </div>

                <div class="col span-1-of-4 about-picture">
                    <img src="https://images.pexels.com/photos/28080/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="bmi">
                    <p class="picture-title">
                        BMI Calculator
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="ins-2">
        <div class="np__content" style="display: inline-block;">
            <i class="fa-brands fa-instagram fa-5x" style="color: #fd8f5f;"></i>
            <h2 class="h2_chung" style="margin-top: 7px;" class="np__contenta">GET INSPIRED WITH INSTAGRAM</h2>
            <p class="np__contenta">Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                viverra ornare, eros dolor
                interdum nulla</p>
            <div class="btnz">
                <a href="#" class="np__Discoverybtn">Discovery more</a>
            </div>
        </div>
        <div class="imgz">
            <img src="https://images.pexels.com/photos/2171077/pexels-photo-2171077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="z" class="anhz">
            <img src="https://images.pexels.com/photos/775032/pexels-photo-775032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="s" class="anhz">
        </div>
    </section>

    <section class="background-nqt">
        <div class="NQT_container">
            <div class="NQT_row">

                <div class="pos">
                    <div class="single-cat mb-50">
                        <div class="icon">
                            <img src="https://preview.colorlib.com/theme/furn/assets/img/icon/services1.svg"
                                style="width:25%; height:25%;" alt="hinh">
                        </div>
                        <div class="cap">
                            <h5>Fast & Free Delivery</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <!-- -->
                <div class="pos">
                    <div class="single-cat mb-50">
                        <div class="icon">
                            <img src="https://preview.colorlib.com/theme/furn/assets/img/icon/services2.svg"
                                style="width:25%; height:25%;" alt="hinh">
                        </div>
                        <div class="cap">
                            <h5>Secure Payment</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <!-- -->
                <div class="pos">
                    <div class="single-cat mb-50">
                        <div class="icon">
                            <img src="https://preview.colorlib.com/theme/furn/assets/img/icon/services3.svg"
                                style="width:25%; height:25%;" alt="hinh">
                        </div>
                        <div class="cap">
                            <h5>Money Back Guarantee</h5>
                            <p>
                                Free delivery on all orders
                            </p>
                        </div>
                    </div>
                </div>
                <!-- -->

                <div class="pos">
                    <div class="single-cat mb-50">
                        <div class="icon">
                            <img src="https://preview.colorlib.com/theme/furn/assets/img/icon/services4.svg"
                                style="width:25%; height:25%;" alt="hinh">
                        </div>
                        <div class="cap">
                            <h5>Online Support</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <!-- -->
            </div>


        </div>

        <footer>
            <div class="footer-wrapper" id = "fter">
                <div class="footer-area footer-padding">
                    <div class="NQT_container">
                        <div class="NQT_row NQT_justify-content-between">

                            <div class="pos">
                                <div class="mb-50">
                                    <div class="mb-30">
                                        <a href="#">
                                            <img src="" alt="logo">
                                        </a>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Delectus repellendus reiciendis sint dolores numquam officiis repudiandae
                                            nihil,
                                            sapiente quod nisi consequuntur deleniti officia quia nesciunt. Quis tempore
                                            eius quaerat corrupti?</p>
                                    </div>
                                </div>
                                <!--   -->
                                <div>
                                    <div class="footer-social">
                                        <a href=""><i class="fa fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                    </div>
                                </div>
                                <!--   -->
                            </div>
                            <!----------------------------------------------------------->
                            <div class="pos">
                                <div class="mb-50">
                                    <div class="mb-30 NQT_a" style="text-align: center; color:white;">
                                        <h4 style="margin-bottom: 2.5rem;">Quick links
                                        </h4>
                                        <ul class="NQT_ul">
                                            <li class="NQT_li"><a href="#">Image Licensin</a></li>
                                            <li class="NQT_li"><a href="#">Style Guide</a></li>
                                            <li class="NQT_li"><a href="#">
                                                    Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="pos">
                                <div class="mb-50">
                                    <div class="mb-30 NQT_a" style="text-align: center; color:white;">
                                        <h4 style="margin-bottom: 2.5rem;">Shop Category
                                        </h4>
                                        <ul>
                                            <li class="NQT_li"><a href="#">Image Licensin</a></li>
                                            <li class="NQT_li"><a href="#">Style Guide</a></li>
                                            <li class="NQT_li"><a href="#">
                                                    Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="pos">
                                <div class="mb-50">
                                    <div class="mb-30 NQT_a" style="text-align: center; color:white;">
                                        <h4 style="margin-bottom: 2.5rem;">Pertners</h4>
                                        <ul>
                                            <li class="NQT_li"><a href="#">Image Licensin</a></li>
                                            <li class="NQT_li"><a href="#">Style Guide</a></li>
                                            <li class="NQT_li"><a href="#">
                                                    Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="copyright">
                                <p>
                                    Copyright &#169 2024 by Group 4 - University of Information Techonology - VNU</a>
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </section>
</body>





<!-- TESST TINH NANG MERGE TREN GITHUB -->







</html>