{% extends 'site1/base.html' %}
{%load static%}
{% block calo-content %}
<link href="{% static 'site1/css/fix_calo_ios.css' %}" rel="stylesheet">
<!-- pip install requests -->
<head>
<title>Công Cụ Tính Calo</title>
</head>
<section class="slider-area">
    <div class="slider-area-photo"></div>
    <div class="container">
        <div class="slider-row">
            <div class="col-xl-6 col-lg-8 col-md-8">
                <div class="slider-row-caption">
                    <h1>Calories</h1>
                    <nav aria-label="slider-nav">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" tabindex="0">Công Cụ</a></li>
                            <li class="breadcrumb-item"><a href="#" tabindex="0">Tính Calories</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-us-section">
    <div class="about-container">
        <div class="about-us-section-row">
            <div class="about-us-section-tittle">
                <h2>Công cụ tính calories</h2>
                <p class="about-p-long">
                    Đây là công cụ để bạn có thể tính toán được xem món ăn của bạn
                    chứa bao nhiêu calories. Bên cạnh đó, công cụ này còn đưa ra lời
                    cảnh báo đối với những món ăn chứa hàm lượng calories hay các chất
                    vượt quá mức cần thiết, đưa ra một số lời khuyên về tập luyện cho bạn.
                    Hãy nhập tên món ăn bằng Tiếng Anh để có trải nghiệm và kết quả tốt nhất. 
                    Hãy nhập tên Tiếng Việt không dấu nếu đó là món ăn Việt Nam và không thể 
                    dịch sang Tiếng Anh.
                </p>
            </div>
        </div>
    </div>


</section>


<section class="calo-empty-space"></section>


<section class="ddt_calo justify-content-center">
<div class="container justify-content-center">
    {% comment %} {{api}} {% endcomment %}
    <div class="row justify-content-center">
            <form method="POST" id="caloForm">

                {% csrf_token %}

                <div class="input-group input-group-lg calo-search-bar">
                    <input class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2"
                        placeholder="Nhập tên món ăn" type="text" name="query" required>
                    <button class="btn btn-outline-secondary calo-search-button" type="submit" id="button-addon2">Tính calories</button>
                </div>
            </form>

            <div class="ddt_empty-space"></div>

            {%if api %}
            {% if api == "oops! There was an error"%}
            <div class="alert alert-warning"> Có vẻ như bạn đã nhập sai tên món ăn. Vui lòng nhập lại! </div>

            {% else %}
            <h1>{{api.0.name | capfirst}} có tổng cộng <strong id="caloNumber">{{api.0.calories}}</strong> Calories
                {%if api.0.calories > 200%}
                <img src="{% static 'site1/images/shocked.png' %}" class="img-responsive" />
                {%endif%}
            </h1>

            {%if api.0.sodium_mg > 1000%}
            <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
                <div>
                    Thực phẩm này chứa một lượng natri cao. Hàm lượng natri cao gây ra tình trạng mất nước nghiêm trọng, 
                    tăng huyết áp, tăng nguy cơ mắc bệnh tim mạch và đột quỵ
                </div>
            </div>
            {%endif%}

            {%if api.0.sugar_g > 100%}
            <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
                <div>
                    Thực phẩm này chứa lượng đường cao. Đường gây ra sự tăng vọt insulin và là nguyên nhân số một gây bệnh béo phì.
                </div>
            </div>
            {%endif%}

        </div>

        <div class="row justify-content-center mt-5 mb-5 calo-results">
            <div class="col-md-10 caloriescont shadow rounded">
                <div class="row">

                    <div class="col-md-6">
                        <h2 class="mt-3 mb-4" style="font-weight: bold;">GIÁ TRỊ DINH DƯỠNG</h2><span></span>
                        <ul>
                            <li class="servingsize calo-result-detail">Trong 100 grams thực phẩm trên chứa: <span class="float-end"></span></li>
                            <li class="calo-result-detail">Carbohydrates (g): <span class="float-end"> {{api.0.carbohydrates_total_g}} </span>
                            </li>
                            <li class="calo-result-detail">Cholesterol (mg): <span class="float-end"> {{api.0.cholesterol_mg}} </span></li>
                            <li class="calo-result-detail">Chất béo bão hòa (g): <span class="float-end"> {{api.0.fat_saturated_g}} </span></li>
                            <li class="calo-result-detail">Tổng chất béo (g): <span class="float-end"> {{api.0.fat_total_g}} </span></li>
                            <li class="calo-result-detail">Chất xơ (g): <span class="float-end"> {{api.0.fiber_g}} </span></li>
                            <li class="calo-result-detail">Kali (mg): <span class="float-end"> {{api.0.potassium_mg}} </span></li>
                            <li class="calo-result-detail">Protein (g): <span class="float-end"> {{api.0.protein_g}} <span></li>
                            <li class="calo-result-detail">Natri (mg):<span class="float-end"> {{api.0.sodium_mg}} </span></li>
                            <li class="calo-result-detail">Đường (g): <span class="float-end"> {{api.0.sugar_g}} </span></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h4 class="mt-3 mb-4">Để đốt cháy {{api.0.calories}} calories bạn cần phải:</h4>
                        <div class="d-flex align-items-center mb-5">
                            <div class="flex-shrink-0">
                                <img class="calo-icon" src="{% static 'site1/images/running.png' %}" alt="Ảnh">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="calo-result-detail"> Chạy bộ </h5>
                                <p class="exercise-result-detail">Bạn phải chạy bộ trong <strong id="Jog">
                                    {{ jog|floatformat:0 }} </strong> phút</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-5">
                            <div class="flex-shrink-0">
                                <img class="calo-icon" src="{% static 'site1/images/yoga.png' %}" alt="Ảnh">
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <h5 class="calo-result-detail"> Tập yoga </h5>
                                <p class="exercise-result-detail">Bạn phải tập yoga trong <strong id="Yoga">
                                    {{ yoga|floatformat:0 }} </strong> phút</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-5">
                            <div class="flex-shrink-0">
                                <img class="calo-icon" src="{% static 'site1/images/weightlifter.png' %}" alt="Ảnh">
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <h5 class="calo-result-detail"> Tập gym </h5>
                                <p class="exercise-result-detail">Bạn phải tập gym trong <strong id="Gym">
                                    {{ gym|floatformat:0 }} </strong> phút </p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img class="calo-icon" src="{% static 'site1/images/walking.png' %}" alt="Ảnh">
                            </div>
                            <div class="flex-grow-1 ms-1">
                                <h5 class="calo-result-detail"> Đi bộ </h5>
                                <p class="exercise-result-detail">Bạn phải đi bộ trong <strong id="Walk">
                                    {{ walk|floatformat:0 }} </strong> phút</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
            {%endif%}
        </div>

        <div>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>

    </div>
</div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {

        var calonumber = document.getElementById("caloNumber");
        var colorCalo;
    
        if (parseFloat("{{api.0.calories}}") > 200) {
            colorCalo = "red";
        } else if (parseFloat("{{api.0.calories}}") > 40 && parseFloat("{{api.0.calories}}") <= 200) {
            colorCalo = "green";
        } else if (parseFloat("{{api.0.calories}}") <= 40) {
            colorCalo = "gray";
        }
        
        calonumber.style.color = colorCalo;
        
        event.preventDefault(); // Ngăn chặn gửi form mặc định của trình duyệt
    });
    
</script>
{% endblock calo-content %}