{% extends 'site1/base.html'%}
{%load static%}
{% block heallthinfo-content%}
<section class="slider-area">
    <div class="slider-area-photo"></div>
    <div class="container">
        <div class="slider-row">
            <div class="col-xl-6 col-lg-8 col-md-8">
                <div class="slider-row-caption">
                    <h1>Blog</h1>
                    <nav aria-label="slider-nav">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href={%url 'home'%}  tabindex="0">Trang Chủ</a></li>
                            <li class="breadcrumb-item"> <a href="#" tabindex="0"> Blog</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us-section">
    <div class="about-container">
        <div class="about-us-section-row">
            <div class="about-us-section-tittle">
                <h2>BMR là gì?</h2>
                <p class="about-p-long" style="margin-bottom: 2rem;">
                    Basal Metabolic Rate <b>(BMR):</b> là tỷ lệ trao đổi chất cơ bản trong cơ thể con người. Chỉ số này cho biết mức năng 
                    lượng tối thiểu mà cơ thể cần, để thực hiện các chức năng cơ bản nhằm đảm bảo duy trì sự sống của cơ thể.
                </p>
                <p class="about-p-long-2" style="margin-bottom: 2rem; font-size: 1.5rem;">
                    Công thức phổ biến để ước tính BMR là công thức Harris-Benedict<br>Các yếu tố cần thiết là cân nặng, chiều cao, tuổi và giới tính.<br>
                    <ul>
                        <li style="margin-bottom: 2rem; font-size: 1.5rem;list-style-type: none;" class="about-p-long-2">
                            <b>Nam giới: </b>BMR = 66 + 13.7 × cân nặng (kg) + 5 × chiều cao (cm) - 6.8 × tuổi (năm) 
                        </li>
                        <li style=" margin-bottom: 2rem; font-size: 1.5rem;list-style-type: none;" class="about-p-long-2">
                            <b>Nữ giới:</b> BMR = 655 + 9.6 × cân nặng (kg) + 1.8 × chiều cao (cm) - 4.7 × tuổi (năm)
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        
        <div class="about-picture-group-1">
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lại Quan Thiên
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lê Minh Quân
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/327143/pexels-photo-327143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Đặng Đức Tài
                </p>
            </div>
            <div class="np__row justify-content-center">
                <div class="np__room-btn">
                    <a href="" class="np__border-btn">Discover More</a>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="about-project-section" style="height: 910px; margin-top: 12rem;">
    <div class="about-container">
        <div class="about-project-section-row">
            <div class="about-project-section-tittle">
                <h2>TDEE là gì?</h2>
                <p class="about-p-long-2" style="margin-bottom: 2rem;">
                    Total Daily Energy Expenditure <b>(TDEE):</b> là tổng số năng lượng mà bạn tiêu thụ trong một ngày 
                    để duy trì các hoạt động của cơ thể như hô hấp, tuần hoàn máu, tiêu hóa và hoạt động vận động.<br>
                    TDEE bao gồm ba thành phần chính: chức năng trao đổi chất cơ bản (BMR), hiệu quả tiêu thụ thức ăn 
                    (TEF) và hoạt động vận động (NEAT và EAT).
                </p>
                <p class="about-p-long-2" style=" margin-bottom: 2rem;">
                    Để tính toán TDEE, bạn có thể sử dụng công thức sau:<br>
                    <b><i>TDEE = BMR x TEF x NEAT x EAT</i></b><br>
                    <ul>
                        <li style= "margin-bottom: 2rem;list-style-type: none;" class="about-p-long-2">
                            <b>TEF:</b> Hiệu quả tiêu thụ thức ăn, chiếm khoảng 10% TDEE.
                        </li>
                        <li style=" margin-bottom: 2rem;list-style-type: none;" class="about-p-long-2">
                            <b>NEAT:</b> Hoạt động hàng ngày không phải là hoạt động vận động<br> Ví dụ như đi bộ, 
                            lau nhà, tắm rửa, chiếm khoảng 15-20% TDEE.
                        </li>
                        <li style=" margin-bottom: 2rem;list-style-type: none;" class="about-p-long-2">
                            <b>EAT:</b> Hoạt động vận động, như tập thể dục, chạy bộ, yoga, chiếm từ 20% trở lên TDEE<br> 
                            Tùy thuộc vào mức độ và thời lượng của hoạt động.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        

        <div class="about-picture-group-1">
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lại Quan Thiên
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lê Minh Quân
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/327143/pexels-photo-327143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Đặng Đức Tài
                </p>
            </div>
            <div class="np__row justify-content-center">
                <div class="np__room-btn">
                    <a href="" class="np__border-btn">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-us-section" style="">
    <div class="about-container">
        <div class="about-us-section-row">
            <div class="about-us-section-tittle">
                <h2>CALORIES LÀ GÌ?</h2>
                <p class="about-p-long">
                    Calo hay Calories (viết tắt là cal) là một đơn vị tính năng lượng nạp vào cơ thể bằng đường ăn uống hoặc 
                    tổng năng lượng cơ thể đốt cháy thông qua các hoạt động sống. Kcal là viết tắt của Kilocalories cũng là 
                    đơn vị năng lượng nhưng giá trị lớn hơn calo.
                </p>
                <p class="about-p-long" style=" ">
                    <b><i>FACT: </i></b>Số calo được ghi trên bao bì thực phẩm là tính theo đơn vị 
                    <b>kcal</b>, chứ không phải là calo như nhiều người thường nghĩ. Hơn nữa, lượng calo 
                    có trong thực phẩm <b>không liên quan</b> đến giá trị dinh dưỡng của nó.
                </p>
            </div>
        </div>
        <div class="about-picture-group-1">
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lại Quan Thiên
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lê Minh Quân
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/327143/pexels-photo-327143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Đặng Đức Tài
                </p>
            </div>
            <div class="np__row justify-content-center">
                <div class="np__room-btn">
                    <a href="" class="np__border-btn">Discover More</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="about-project-section" style="height: 980px; margin-top:180px">
    <div class="about-container">
        <div class="about-project-section-row">
            <div class="about-project-section-tittle">
                <h2>Tầm quan trọng của Calories</h2>
                <p class="about-p-long-2" style=" margin-bottom: 2rem;">
                    Cơ thể luôn cần calo/năng lượng để có thể duy trì cân nặng và hoạt động bình thường. 
                    Ngay cả khi không vận động, các tế bào trong cơ thể vẫn tiêu thụ một lượng calo nhất định cho hoạt động 
                    cần thiết để duy trì sự sống như hô hấp, tiêu hóa, lưu thông máu,… Khi thiếu calo, tế bào trong cơ thể sẽ chết dần, 
                    các cơ quan trong cơ thể không thể duy trì các hoạt động cần thiết để đảm bảo sự sống.<br>
                    Lượng calo được hấp thụ bằng cách ăn uống hàng ngày và đóng vai trò quan trọng đối với sức khỏe. 
                    Trường hợp lượng calo mà cơ thể nạp vào không cân bằng với lượng calo mà cơ thể tiêu thụ có thể dẫn tới những tình trạng sau:
                </p>
                <ul>
                    <li style=" margin-bottom: 2rem;list-style-type: none;" class="about-p-long-2">
                        Tăng cân nếu bạn hấp thụ lượng calo vào cơ thể nhiều hơn lượng calo mà cơ thể tiêu thụ. 
                    </li>
                    <li style=" margin-bottom: 2rem;list-style-type: none;" class="about-p-long-2">
                        Giảm cân nếu bạn hấp thụ lượng calo ít hơn mức mà cơ thể tiêu thụ. 
                    </li>
                </ul>
                <p class="about-p-long-2" style="">
                    Do đó, để đảm bảo sức khỏe, bạn cần bổ sung đủ lượng calo phù hợp với thể trạng của bản thân. 
                    Hãy tính toán lượng calo cần thiết dựa trên tình trạng sức khỏe, tuổi, cân nặng, chiều cao và 
                    hoạt động hàng ngày của bản thân.
                </p>
            </div>
        </div>

        <div class="about-picture-group-1">
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lại Quan Thiên
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lê Minh Quân
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/327143/pexels-photo-327143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Đặng Đức Tài
                </p>
            </div>
            <div class="np__row justify-content-center">
                <div class="np__room-btn">
                    <a href="" class="np__border-btn">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-us-section" style="margin-top: 19rem;">
    <div class="about-container">
        <div class="about-us-section-row">
            <div class="about-us-section-tittle">
                <h2>Our Story</h2>
                <p class="about-p-long">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
        <div class="about-picture-group-1">
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lại Quan Thiên
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lê Minh Quân
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/327143/pexels-photo-327143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Đặng Đức Tài
                </p>
            </div>
            <div class="np__row justify-content-center">
                <div class="np__room-btn">
                    <a href="" class="np__border-btn">Discover More</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="about-project-section" style="height: 770px; margin-top: 170px">
    <div class="about-container">
        <div class="about-project-section-row">
            <div class="about-project-section-tittle">
                <h2>Our Project</h2>
                <p class="about-p-long-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Illum quam quaerat repudiandae quidem. 
                    Soluta, explicabo adipisci quibusdam nulla animi repellendus error eos a et dicta aliquid magni ipsam iusto iure.
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Illum quam quaerat repudiandae quidem. 
                    Soluta, explicabo adipisci quibusdam nulla animi repellendus error eos a et dicta aliquid magni ipsam iusto iure.
                </p>
            </div>
        </div>

        <div class="about-picture-group-1">
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lại Quan Thiên
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Lê Minh Quân
                </p>
            </div>
            <div class="about-picture-2">
                <img src="https://images.pexels.com/photos/327143/pexels-photo-327143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="picture-title-2">
                    Đặng Đức Tài
                </p>
            </div>
            <div class="np__row justify-content-center">
                <div class="np__room-btn">
                    <a href="" class="np__border-btn">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section> 


{% if user.username %}
    <form action="{% url 'post' post.id %}" method="POST">
        {% csrf_token %}
        <p><label>Bình luận:</label></p>
        {{form.body}}
        <br/>
        <input type="submit" value="Bình luận"/>
    </form>
{% endif %}
{%endblock heallthinfo-content%}