{% extends 'site1/base.html' %}
{%load static%}
{%block main-content%}
<head>

        <title>Trang Chủ</title>

    <link href="{% static 'site1/css/rpHome.css' %}" rel="stylesheet">
    <link href="{% static 'site1/css/fix_home_ios.css' %}" rel="stylesheet">
</head>
<!-- Le Minh Quan -->
<section class="slider">
    <div class="ql__main">
        <div class="ql__slider">
            <div class="ql__slider-content">
                <h3 class="ql__slider-content-heading">
                    {% comment %} Health Care {% endcomment %}
                    Sức Khoẻ Là Vàng
                </h3>
                <p class="ql__slider-content__content">
                    Chào mừng bạn đến với Vigor - điểm đến của bạn về mọi thứ liên quan đến sức 
                    khỏe và thể chất. Chúng tôi tận tâm cung cấp cho bạn các tài nguyên và công cụ có giá trị để hỗ trợ hành 
                    trình hướng tới một lối sống lành mạnh hơn của bạn. Mục tiêu của chúng 
                    tôi là cung cấp cho bạn kiến ​​thức và sự hỗ trợ mà bạn cần để thực hiện những thay đổi tích cực và ưu 
                    tiên việc tự chăm sóc bản thân. Hãy tham gia cộng
                    đồng của chúng tôi ngay hôm nay và bắt tay vào con đường hướng tới hạnh phúc toàn diện cùng chúng tôi.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Lại Quan Thiên -->
<section class="properties new-arrival fix">
    <div class="container">
        <div class="lqt__row justify-content-center" style="margin-left: auto;">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-60 text-center wow fadeInUp">
                    <h2 style="font-size: 36px;" class="ql_1234 h2_chung">CÔNG CỤ</h2>
                    <p class="ql1234" style="margin-left: -200px; text-align: justify;">
                        Bằng cách sử dụng những công cụ này, người dùng có thể đánh giá sức khỏe của mình và đặt ra các 
                        mục tiêu về cân nặng cũng như lối sống lành mạnh. Ngoài ra, bằng cách hiểu về BMR, họ có thể điều 
                        chỉnh chế độ ăn uống và tập luyện để phù hợp với mục tiêu giảm cân hoặc tăng cân an toàn và hiệu quả hơn bao giờ hết, đặc biệt là với những an đang cần tăng/giảm cân.</p>
                </div>
            </div>
        </div>

        <div class="horizontal-line">
        </div>

        <div class="lqt__row">
            <a href="{%url 'calo'%}">
            <div class="col span-1-of-4 about-picture">
                <img src="https://images.pexels.com/photos/257816/pexels-photo-257816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="calo">
                <p class="picture-title">
                    Calo Calculator
                </p>
            </a>
            </div>

            <div class="col span-1-of-4 about-picture">
                <a href="{%url 'tools'%}">
                <img src="https://images.pexels.com/photos/2080544/pexels-photo-2080544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="tdee">
                <p class="picture-title" style="font-size:19px;">
                    TDEE Calculator
                </p>
            </a>
            </div>

            <div class="col span-1-of-4 about-picture">
                <a href="{%url 'tools'%}">
                <img src="https://images.pexels.com/photos/53404/scale-diet-fat-health-53404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="bmr">
                <p class="picture-title">
                    BMR Calculator
                </p>
            </a>
            </div>

            <div class="col span-1-of-4 about-picture">
                <a href="{%url 'tools'%}">
                <img src="https://images.pexels.com/photos/28080/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="bmi">
                <p class="picture-title">
                    BMI Calculator
                </p>
            </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="visit-tailor-area fix">
        <div class="tailor-offers"></div>
        <div class="tailor-details">
            <h2 class="h2_chung chungtoi">VỀ CHÚNG TÔI
            </h2>
            <p style="text-align: justify;">Chào mừng đến với đội ngũ của chúng tôi! Chúng tôi là một nhóm gồm những lập trình viên đầy nhiệt huyết, 
                cống hiến hết mình để tạo ra một thế giới lành mạnh hơn thông qua công nghệ. 
                Trang web của chúng tôi kết hợp sức mạnh của mã hóa với trọng tâm là sức khỏe và thể chất, 
                cung cấp các giải pháp sáng tạo để hỗ trợ các cá nhân trên hành trình hướng tới cuộc sống tốt đẹp hơn.</p>
            <p class="pera-bottom" style="text-align: justify;">Từ việc phát triển các ứng dụng theo dõi hoạt động thể dục đến thiết kế nền tảng 
                hướng dẫn dinh dưỡng, chúng tôi cam kết tận dụng các kỹ năng lập trình của mình để trao quyền 
                cho người dùng kiểm soát sức khỏe và tinh thần của họ. Hãy tham gia cùng chúng tôi khi chúng tôi cách 
                mạng hóa sự kết hợp giữa mã hóa và chăm sóc sức khỏe, 
                giúp tất cả mọi người có thể tiếp cận cuộc sống lành mạnh hơn.</p>
            <a href="{% url 'introduction' %}" class="lqt__btn">
            XEM THÊM</a>
        </div>
    </div>
</section>

<!-- Nam Phuong -->
<section class="sample">
    <h2 class="h2_chung">HOA QUẢ TỐT - SỨC KHOẺ VÀNG!</h2>
    <p class="sample__content">Đắm mình trong sự tươi tốt rực rỡ của thiên nhiên với sự lựa chọn tinh tế của 
        chúng tôi về các loại trái cây tươi, 
        mọng nước - một món ăn ngon và bổ dưỡng cho vị giác và sức khỏe của bạn.</p>
    <div class="np__row">
        <figure>
            <a href="{% url 'fruits' 'low_calories' %}" class="imagez">
                <!-- <img src="https://hips.hearstapps.com/hmg-prod/images/rabbit-breeds-american-white-1553635287.jpg?crop=0.976xw:0.651xh;0.0242xw,0.291xh&resize=980:*" -->
                <img src="https://images.pexels.com/photos/235294/pexels-photo-235294.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="Rabbit" class="animalimg">
                <a href="{% url 'fruits' 'low_calories' %}" class="linkz">
                    <figcaption><label class="np__prc">Hoa Quả Ít Năng Lượng</label><br>
                        <p style="color: rgb(189, 144, 60);" class="np__prc">Phù hợp cho người muốn giảm cân</p>
                    </figcaption>
                </a>
            </a>
        </figure>
        <figure>
            <a href="{% url 'fruits' 'medium_calories' %}" class="imagez">
                <img src="https://images.pexels.com/photos/2683373/pexels-photo-2683373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="Cat" class="animalimg">
                <a href="{% url 'fruits' 'medium_calories' %}" class="linkz">
                    <figcaption><label class="np__prc">Hoa Quả Lành Mạnh</label><br>
                        <p style="color: rgb(189, 144, 60);" class="np__prc">Tươi mát, sảng khoái, nhiều dưỡng chất</p>
                    </figcaption>
                </a>
            </a>
        </figure>
        <figure>
            <a href="{% url 'fruits' 'high_calories' %}" class="imagez">
                <img src="https://images.pexels.com/photos/139751/pexels-photo-139751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="Dog" class="animalimg">
                <a href="{% url 'fruits' 'high_calories' %}" class="linkz">
                    <figcaption><label class="np__prc">Hoa Quả Giàu Năng Lượng</label><br>
                        <p style="color: rgb(189, 144, 60);" class="np__prc">Phù hợp cho người muốn tăng cân</p>
                    </figcaption>
                </a>
            </a>
        </figure>
    </div>
    <div class="np__btn">
        <a class="np__Discoverybtn" style="align-items: center;" href="{% url 'list-fruits'%}">XEM THÊM</a>
    </div> 
</section>



<section class="sample" id="listfood">
    <h2 class="h2_chung">MÓN ĂN NGON - VUI NGÀY MỚI!</h2>
    <p class="sample__content">Đắm mình trong sự tươi tốt rực rỡ của thiên nhiên với sự lựa chọn tinh tế của 
        chúng tôi về các loại trái cây tươi, 
        mọng nước - một món ăn ngon và bổ dưỡng cho vị giác và sức khỏe của bạn.</p>
    <div class="np__row">
        <figure>
            <a href="{% url 'foods' 'low_calories' %}" class="imagez">
                <!-- <img src="https://hips.hearstapps.com/hmg-prod/images/rabbit-breeds-american-white-1553635287.jpg?crop=0.976xw:0.651xh;0.0242xw,0.291xh&resize=980:*" -->
                <img src="https://images.pexels.com/photos/7936674/pexels-photo-7936674.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="Rabbit" class="animalimg">
                <a href="{% url 'foods' 'low_calories' %}" class="linkz">
                    <figcaption><label class="np__prc">Món Mặn Ít Năng Lượng</label><br>
                        <p style="color: rgb(189, 144, 60);" class="np__prc">Dưới 100 calo</p>
                    </figcaption>
                </a>
            </a>
        </figure>
        <figure>
            <a href="{% url 'foods' 'medium_calories' %}" class="imagez">
                <img src="https://i.pinimg.com/564x/a4/fd/ff/a4fdff8bbad8896426ba7fe1731e9e69.jpg"
                    alt="Cat" class="animalimg">
                <a href="{% url 'foods' 'medium_calories' %}" class="linkz">
                    <figcaption><label class="np__prc">Món Chay Lành Mạnh</label><br>
                        <p style="color: rgb(189, 144, 60);" class="np__prc">Tươi mát, sảng khoái</p>
                    </figcaption>
                </a>
            </a>
        </figure>
        <figure>
            <a href="{% url 'foods' 'high_calories' %}" class="imagez">
                <img src="https://i.pinimg.com/564x/d5/fc/5e/d5fc5ee004f33c2739d8b1f72ef4824b.jpg"
                    alt="Dog" class="animalimg">
                <a href="{% url 'foods' 'high_calories' %}" class="linkz">
                    <figcaption><label class="np__prc">Món Mặn Giàu Năng Lượng</label><br>
                        <p style="color: rgb(189, 144, 60);" class="np__prc">Bổ sung năng lượng</p>
                    </figcaption>
                </a>
            </a>
        </figure>


    </div>
     <div class="np__btn">
        <a class="np__Discoverybtn" style="align-items: center;" href="{% url 'list-foods'%}">XEM THÊM</a>
    </div>  
</section>

<!-- <section class="ins">

    <div class="np__content" style="display: inline-block;">
        <i class="fa-brands fa-instagram fa-5x" style="color: #fd8f5f;"></i>
        <h2 class="h2_chung" style="margin-top: 7px;" class="np__contenta">LIÊN HỆ VỚI CHÚNG TÔI QUA INSTAGRAM</h2>
        <p class="np__contenta">Theo dõi chúng tôi trên Instagram để xem thêm blog hữu ích về sức khỏe và sắc đẹp.</p>
        <div class="btnz">
            <a href="#" class="np__Discoverybtn">XEM THÊM</a>
        </div>
    </div>
    <div class="imgz">
        <img src="https://images.pexels.com/photos/2171077/pexels-photo-2171077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="z" class="anhz">
        <img src="https://images.pexels.com/photos/775032/pexels-photo-775032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="s" class="anhz">
    </div>
</section> -->

<!--Đặng Đức Tài-->
<section class="Ducktai">
    <div class="tieu-de">
        <h2 class="h2_chung">BLOG</h2>
        <p style="text-align: justify;">
            Sứ mệnh của chúng tôi là trao quyền và truyền cảm hứng cho cộng đồng để ưu tiên cho hạnh phúc của họ,
             thúc đẩy những thay đổi tích cực dẫn đến cuộc sống hạnh phúc hơn, khỏe mạnh hơn. 
            Hãy tham gia cùng chúng tôi khi chúng ta cùng nhau bắt tay vào cuộc hành trình biến đổi này.
        </p>
    </div>

    <div class="ddt__product-container">
        <div class="ddt__product-item">
            <img class="ddt__product-image"
                src="https://images.pexels.com/photos/1346347/pexels-photo-1346347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Product 1">
            <a class="ddt__product-link" href="">Nước ép Cần Tây</a>
        </div>
        <div class="ddt__product-item">
            <img class="ddt__product-image"
                src="https://images.pexels.com/photos/634030/pexels-photo-634030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Product 2">
            <a class="ddt__product-link" href="">Thể dục mỗi ngày</a>
        </div>
        <div class="ddt__product-item">
            <img class="ddt__product-image"
                src="https://images.pexels.com/photos/34669/exercise-weight-woman-sport.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Product 3">
            <a class="ddt__product-link" href="">Erobic</a>
        </div>
    </div>
    <div class="np__btn">
        <a class="np__Discoverybtn" style="align-items: center;" href="{% url 'blog' %}">XEM THÊM</a>
    </div> 
</section>

{%endblock main-content%} 