{% extends 'site1/base.html' %}
{% load static %}
{% block listnews-content %}

<!DOCTYPE html>
<html>
<head>
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> {% endcomment %}
    {% comment %} <link href="{% static 'site1/css/main.css' %}" rel="stylesheet" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'site1/css/list_news.css' %}" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .flex-grow-1 {
            flex-grow: 1;
            min-height: 0;
        }
        .custom-box {
            height: 220px;
            overflow: hidden;
        }
        .custom-image {
            height: 180px;
            overflow: hidden;
        }
    </style>

        <title>Tin Tức</title>

</head>
<body>
<section class="slider-area">
    <div class="slider-area-photo"></div>
    <div class="container">
        <div class="slider-row">
            <div class="col-xl-6 col-lg-8 col-md-8">
                <div class="slider-row-caption">
                    <h1>Tin Tức</h1>
                    <nav aria-label="slider-nav">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}" tabindex="0">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" tabindex="0">Tin Tức</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sample" style="height:5rem">
    <h2 class="h2_chung">TIN TỨC</h2>
    <p class="sample__content">
        Cung cấp những thông tin cập nhật, chính xác và đa dạng về các vấn đề liên quan đến sức khỏe và y tế tại trang <b>vnexpress.net</b>. Đây là nguồn tư liệu quý giá giúp bạn nắm bắt các xu hướng mới, các nghiên cứu khoa học hiện đại và những lời khuyên bổ ích để chăm sóc sức khỏe cho bản thân và gia đình. Việc theo dõi các tin tức này không chỉ giúp bạn phòng ngừa bệnh tật hiệu quả mà còn nâng cao chất lượng cuộc sống hàng ngày.
    </p>
</section>
<section class="sample" id="list">
    <div class="np__row">
        <figure>
            <a href="{% url 'news' 'suc-khoe' %}" class="imagez">
                <img src="https://images.pexels.com/photos/3823207/pexels-photo-3823207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Sức Khoẻ" class="animalimg">
            </a>
            <a href="{% url 'news' 'suc-khoe' %}" class="linkz">
                <figcaption>
                    <label class="np__prc">Sức Khoẻ</label><br>
                    <p style="color: rgb(189, 144, 60);" class="np__prc">Tin tức về Sức Khoẻ tại vnexpress.net</p>
                </figcaption>
            </a>
        </figure>
        <figure>
            <a href="{% url 'news' 'the-thao' %}" class="imagez">
                <img src="https://images.pexels.com/photos/163452/basketball-dunk-blue-game-163452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Thể Thao" class="animalimg">
            </a>
            <a href="{% url 'news' 'the-thao' %}" class="linkz">
                <figcaption>
                    <label class="np__prc">Thể Thao</label><br>
                    <p style="color: rgb(189, 144, 60);" class="np__prc">Tin tức về Thể Thao tại vnexpress.net</p>
                </figcaption>
            </a>
        </figure>
        <figure>
            <a href="{% url 'news' 'khoa-hoc' %}" class="imagez">
                <img src="https://images.pexels.com/photos/356040/pexels-photo-356040.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Khoa Học" class="animalimg">
            </a>
            <a href="{% url 'news' 'khoa-hoc' %}" class="linkz">
                <figcaption>
                    <label class="np__prc">Khoa Học</label><br>
                    <p style="color: rgb(189, 144, 60);" class="np__prc">Tin tức về Khoa Học tại vnexpress.net</p>
                </figcaption>
            </a>
        </figure>
    </div>
    <div class="np__btn">
        <a class="np__Discoverybtn" style="align-items: center;" href="#list">XEM CHI TIẾT</a>
    </div>
</section>
</body>
</html>
{% endblock %}
