{% extends 'site1/base.html' %} {%load static%} {%block listfruits-content%}

<!DOCTYPE html>
<html>
  <head>
    <title>Hoa Quả</title>
    <link href="{% static 'site1/css/fruits.css' %}" rel="stylesheet" />
    <link href="{% static 'site1/css/rpFruits.css' %}" rel="stylesheet" />
    <link href="{% static 'site1/css/fix_fruits_ios.css' %}" rel="stylesheet" />
  </head>

  <body>
    <section class="slider-area">
        <div class="slider-area-photo"></div>
        <div class="container">
            <div class="slider-row">
                <div class="col-xl-6 col-lg-8 col-md-8">
                    <div class="slider-row-caption">
                        <h1>Hoa Quả Tốt</h1>
                        <nav aria-label="slider-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}" tabindex="0">Trang Chủ</a></li>
                                <li class="breadcrumb-item"> <a href="#" tabindex="0">Hoa Quả Tốt</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    
    <section class="sample" id="list">
        <h2 class="h2_chung">HOA QUẢ TỐT - SỨC KHOẺ VÀNG!</h2>
        <p class="sample__content">Đắm mình trong sự tươi tốt rực rỡ của thiên nhiên với sự lựa chọn tinh tế của 
            chúng tôi về các loại trái cây tươi, 
            mọng nước - một món ăn ngon và bổ dưỡng cho vị giác và sức khỏe của bạn.</p>
        <div class="np__row">
            <figure>
                <a href="{% url 'fruits' 'low_calories' %}" class="imagez">
                    <!-- <img src="https://hips.hearstapps.com/hmg-prod/images/rabbit-breeds-american-white-1553635287.jpg?crop=0.976xw:0.651xh;0.0242xw,0.291xh&resize=980:*" -->
                    <img src="https://images.pexels.com/photos/235294/pexels-photo-235294.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="Rabbit" class="animalimg">
                    <a href="{% url 'fruits' 'low_calories' %}" class="linkz">
                        <figcaption><label class="np__prc">Hoa Quả Ít Năng Lượng</label><br>
                            <p style="color: rgb(189, 144, 60);" class="np__prc">Từ 100 - 300 calo</p>
                        </figcaption>
                    </a>
                </a>
            </figure>
            <figure>
                <a href="{% url 'fruits' 'medium_calories' %}" class="imagez">
                    <img src="https://images.pexels.com/photos/2683373/pexels-photo-2683373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="Cat" class="animalimg">
                    <a href="{% url 'fruits' 'medium_calories' %}" class="linkz">
                        <figcaption><label class="np__prc">Hoa Quả Lành Mạnh</label><br>
                            <p style="color: rgb(189, 144, 60);" class="np__prc">Tươi mát, sảng khoái</p>
                        </figcaption>
                    </a>
                </a>
            </figure>
            <figure>
                <a href="{% url 'fruits' 'high_calories' %}" class="imagez">
                    <img src="https://images.pexels.com/photos/139751/pexels-photo-139751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="Dog" class="animalimg">
                    <a href="{% url 'fruits' 'high_calories' %}" class="linkz">
                        <figcaption><label class="np__prc">Hoa Quả Giàu Năng Lượng</label><br>
                            <p style="color: rgb(189, 144, 60);" class="np__prc">Đẹp & Ít calo</p>
                        </figcaption>
                    </a>
                </a>
            </figure>


        </div>
         <div class="np__btn">
            <a class="np__Discoverybtn" style="align-items: center;" href="#list">XEM CHI TIẾT</a>
        </div>  
    </section>
  </body>
</html>
{%endblock listfruits-content%}
