{% extends 'site1/base.html' %}
{%load static%}
{% block loseweight-content%}
<title>Tìm Hiểu Thêm</title>
<link href="{% static 'site1/css/npresponsiveP1.css' %}" rel='stylesheet'/>
<link href="{% static 'site1/css/fix_ddt.css' %}" rel='stylesheet'/>
<link href="{% static 'site1/css/fix_timhieuthem.css' %}" rel='stylesheet'/>
    <!--Body-->
    <section class="ddt_first">

        <!--Background-->
        <video id="comp-kq0xqk25_video" class="ddt_main_bg" crossorigin="anonymous" playsinline="" preload="auto" muted="" loop="" tabindex="-1" autoplay="" src="https://video.wixstatic.com/video/11062b_44224902abb84d3d95ec9dfd49ede8d1/1080p/mp4/file.mp4" style="height: 100%; width: 100%; object-fit: cover; object-position: center center; opacity: 1;"></video>
        
        <!--Content-->
        <div class="ddt_content">
            <p class="ddt_first_head">Giảm cân là gì?</p>
        
            <!--Paragraph-->
            <p class="ddt_first_text">
                Giảm cân, trong bối cảnh y học, sức khỏe hoặc thể lực, đề cập đến việc giảm tổng khối lượng cơ thể, do mất chấ
                 lỏng trung bình, mỡ cơ thể hoặc mô mỡ hoặc khối lượng thịt nạc, cụ thể là khoáng chất xương, cơ, gân và các mô liên kết khác. Giảm cân có thể xảy ra ngoài ý muốn do suy dinh dưỡng hoặc một căn bệnh tiềm ẩn hoặc phát
                  sinh từ một nỗ lực có ý thức để cải thiện tình trạng thừa cân hoặc béo phì trên thực tế hoặc nhận thấy. 
            </p>
        
        </div>

    </section>
     

<!--Chế độ ăn-->
<section class="properties new-arrival fix ddt_second">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-60 text-center wow fadeInUp">
                    <h2 class="h2_chung">CHẾ ĐỘ ĂN</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="ddt_picking_option">
        <div class="ddt_about-picture-group-2">
            <div class="ddt_about-picture-2">
                <a href="https://www.vinmec.com/vi/tin-tuc/thong-tin-suc-khoe/dinh-duong/thuc-an-chung-ta-can-bao-nhieu-moi-ngay/">
                <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="ddt_picture-title-2">
                    Cơ bản
                </p>
                </a>
            </div>
            <div class="ddt_about-picture-2">
                <a href="https://www.vinmec.com/vi/tin-tuc/thong-tin-suc-khoe/dinh-duong/che-do-dinh-duong-cho-nguoi-lam-viec-nang/">
                <img src="https://images.pexels.com/photos/1346347/pexels-photo-1346347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="ddt_picture-title-2">
                    Nâng cao
                </p>
                </a>
            </div>   
        </div>
    </div>
</section>

<!--Chế độ ăn cơ bản-->
<section class="ddt_third">
    <div class="ddt_visit-tailor-area ddt_fix">
        <div class="ddt_tailor-offers" style="background-image: url(https://images.pexels.com/photos/8119715/pexels-photo-8119715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);"></div>
        <div class="ddt_tailor-details">
            <h2 class="h2_chung">ĐỀ XUẤT ĂN UỐNG CƠ BẢN
            </h2>
            <p></p>
            <p class="np__contenta">
                Để duy trì sức khỏe tốt, hãy ăn nhiều rau xanh, trái cây tươi và protein từ thịt nạc hoặc cá. Tránh thức ăn nhanh và đồ uống có đường. 
                Uống đủ nước và hạn chế cà phê. Đảm bảo bữa ăn cân bằng với các nhóm thực phẩm chính để cung cấp đủ dưỡng chất cần thiết cho cơ thể.
            </p>
            <a href="https://medlatec.vn/tin-tuc/goi-y-thuc-don-an-uong-khoa-hoc-moi-ngay-giup-co-the-khoe-manh-s51-n29671" class="ddt_btn">
                Xem thêm</a>
        </div>
    </div>
</section>
<br><br><br>

<!--Chế độ ăn nâng cao-->
<section class="ins-2">
    <div class="np__content" style="display: inline-block;">
        <h2 class="h2_chung" style="margin-top: 7px;" class="np__contenta">ĐỀ XUẤT ĂN UỐNG NÂNG CAO</h2>
        <p class="np__contenta">
            Để tối ưu hóa sức khỏe, hãy bổ sung thực phẩm giàu chất chống oxy hóa như quả mọng, hạt chia và hạt lanh.
             Ưu tiên ăn cá béo như cá hồi để cung cấp omega-3, và dùng ngũ cốc nguyên hạt thay cho tinh bột trắng. 
            Thử nghiệm chế độ ăn chay hoặc keto tùy thuộc vào mục tiêu cá nhân và tham khảo ý kiến chuyên gia dinh dưỡng.
        </p>
        <div class="ddt_tailor-details">
            <a href="https://medlatec.vn/tin-tuc/che-do-an-cho-nguoi-tap-gym-dam-bao-dinh-duong-s51-n29850" class="ddt_btn">Xem thêm</a>
        </div>
    </div>
    <div class="imgz">
        <img src="https://images.pexels.com/photos/2171077/pexels-photo-2171077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="z" class="anhz">
        <img src="https://images.pexels.com/photos/775032/pexels-photo-775032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="s" class="anhz">
    </div>
</section>

<!--Video-->
<section class="ddt_first">

    <!--Background-->
    <video id="comp-kq0xqk25_video" class="ddt_main_bg" crossorigin="anonymous" playsinline="" preload="auto" muted="" loop="" tabindex="-1" autoplay="" src="https://videos.pexels.com/video-files/6388436/6388436-uhd_3840_2160_25fps.mp4" style="height: 100%; width: 100%; object-fit: cover; object-position: center center; opacity: 1; margin-bottom: 50px;"></video>
    

</section>

<!--Chế độ tập luyện-->
<section class="ddt_second">
        <div class="row justify-content-center">
            {% comment %} <div class="col-xl-7 col-lg-8 col-md-10"> {% endcomment %}
                <div class="section-tittle mb-60 text-center wow fadeInUp">
                    <h2 class="text-center">CHẾ ĐỘ TẬP LUYỆN</h2>
                </div>
            
        </div>
    </div>
    <div class="ddt_picking_option">
        <div class="ddt_about-picture-group-2">
            <div class="ddt_about-picture-2">
                <a href='https://www.vinmec.com/vi/tin-tuc/thong-tin-suc-khoe/dinh-duong/huong-dan-tap-gym-cho-nguoi-moi-bat-dau/'>
                <img src="https://images.pexels.com/photos/4324101/pexels-photo-4324101.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                <p class="ddt_picture-title-2">
                    Cơ bản
                </p>
                </a>
            </div>
            <div class="ddt_about-picture-2">
                <a href="https://www.thehinh.com/2016/02/cac-kieu-tap-luyen-the-hinh-nang-cao.html">
                <img src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <p class="ddt_picture-title-2">
                    Nâng cao
                </p>
                </a>
            </div>   
        </div>
    </div>
</section>


<section class="ddt_third">
    <div class="ddt_visit-tailor-area ddt_fix">
        <div class="ddt_tailor-offers" style="background-image: url(https://images.pexels.com/photos/1199590/pexels-photo-1199590.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);"></div>
        <div class="ddt_tailor-details">
            <h2 class="h2_chung">ĐỀ XUẤT TẬP LUYỆN CƠ BẢN
            </h2>
            <p class="np__contenta">
                Bắt đầu với các bài tập cardio nhẹ nhàng như đi bộ, chạy bộ, hoặc đạp xe từ 30 phút mỗi ngày. Kết hợp với các bài tập sức mạnh cơ bản như chống đẩy, plank, và squat để tăng cường cơ bắp. Đ
                ảm bảo tập luyện ít nhất 3-4 lần mỗi tuần và luôn nhớ khởi động trước khi tập và giãn cơ sau khi tập để tránh chấn thương.
            </p>
            <a href="https://medlatec.vn/tin-tuc/tong-hop-cac-kien-thuc-tap-gym-cho-nguoi-moi-bat-dau-s195-n20937" class="ddt_btn">
                Xem thêm</a>
        </div>
    </div>
</section>
<br><br><br>
<section class="ins-2">
    <div class="np__content" style="display: inline-block;">
        <i class="fa-brands fa-instagram fa-5x" style="color: #fd8f5f;"></i>
        <h2 class="h2_chung" style="margin-top: 7px;" class="np__contenta">ĐỀ XUẤT TẬP LUYỆN NÂNG CAO</h2>
        <p class="np__contenta">
            Để đạt hiệu quả cao hơn, hãy thử tập luyện HIIT (High-Intensity Interval Training) kết hợp với nâng tạ nặng. Tập trung vào các bài tập đa nhóm cơ như deadlift, bench press và pull-up. Đặt mục tiêu tập luyện 5-6 ngày mỗi tuần, với các buổi tập cường độ cao xen kẽ các buổi tập phục hồi. Đừng quên bổ sung dinh dưỡng phù hợp và theo dõi tiến trình để điều chỉnh chương trình tập luyện kịp thời.
        </p>
        <div class="ddt_tailor-details">
            <a href="https://www.vinmec.com/vi/tin-tuc/thong-tin-suc-khoe/suc-khoe-tong-quat/10-bai-tap-de-lam-san-chac-co-ban/" class="ddt_btn">Xem thêm</a>
        </div>
    </div>
    <div class="imgz">
        <img src="https://images.pexels.com/photos/2294361/pexels-photo-2294361.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="z" class="anhz">
        <img src="https://images.pexels.com/photos/791763/pexels-photo-791763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="s" class="anhz">
    </div>
</section>


{%endblock loseweight-content%}