{% extends 'site1/base.html' %}
{% load static %}
{% block news-content %}
{% comment %} <link href="{% static 'site1/css/main.css' %}" rel="stylesheet" /> {% endcomment %}
<link href="{% static 'site1/css/rp_news.css' %}" rel="stylesheet" />
<link href="{% static 'site1/css/fix_news_ios.css' %}" rel="stylesheet" />
{% if type == 'suc-khoe' %}
<title>Tin Tức Sức Khoẻ</title>
{% elif type == 'the-thao' %}
<title>Tin Tức Thể Thao</title>
{% elif type == 'khoa-hoc' %}
<title>Tin Tức Khoa Học</title>
{% else %}
<title>Chưa có thông tin</title>
{% endif %}

<section class="slider-area">
  <div class="slider-area-photo"></div>
  <div class="container">
    <div class="slider-row">
      <div class="col-xl-6 col-lg-8 col-md-8">
        <div class="slider-row-caption">
          <h1>Tin Tức</h1>
          <nav aria-label="slider-nav">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'list-news' %}" tabindex="0">Tin Tức</a>
              </li>
              <li class="breadcrumb-item">
                {% if type == 'suc-khoe' %}
                <a href="#" tabindex="0">Tin Tức Sức Khoẻ</a>
                {% elif type == 'the-thao' %}
                <a href="#" tabindex="0">Tin Tức Thể Thao</a>
                {% elif type == 'khoa-hoc' %}
                <a href="#" tabindex="0">Tin Tức Khoa Học</a>
                {% else %}
                <a href="#" tabindex="0">Chưa Có Thông Tin</a>
                {% endif %}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="d-flex flex-column">
  <div class="sample" style="height:80px">
    {% if type == 'suc-khoe' %}
      <h2 class="h2_chung">TIN TỨC VỀ SỨC KHOẺ</h2>
    {% elif type == 'the-thao' %}
      <h2 class="h2_chung">TIN TỨC VỀ THỂ THAO</h2>
      {% elif type == 'khoa-hoc' %}
      <h2 class="h2_chung">TIN TỨC VỀ KHOA HỌC</h2>
    {% else %}
      <h2 class="h2_chung">CHƯA CÓ THÔNG TIN</h2>
    {% endif %}
    <p class="sample__content" style="text-align: justify;">
      Cung cấp những thông tin cập nhật, chính xác và đa dạng về các vấn đề liên quan đến sức khỏe và y tế tại trang <b>vnexpress.net</b>. Đây là nguồn tư liệu quý giá giúp bạn nắm bắt các xu hướng mới, các nghiên cứu khoa học hiện đại và những lời khuyên bổ ích để chăm sóc sức khỏe cho bản thân và gia đình. Việc theo dõi các tin tức này không chỉ giúp bạn phòng ngừa bệnh tật hiệu quả mà còn nâng cao chất lượng cuộc sống hàng ngày.
    </p>
  </div>
  <div class="flex-grow-1 mb-5 mt-5">
    <div class="container" style="max-width:1000px">
      <div class="row">
        {% for item in items_rss %}
          <div class="col-md-4" style="margin-top: 10px; margin-bottom: 15px;">
            <div class="card mb-4" style="height: 46rem;">
              <a href="{{ item.link }}" target="_blank">
                <img src="{{ item.image }}" class="card-img-top custom-image" alt="{{ item.title }}" style="object-fit: cover; height: 20rem;" />
              </a>
              <div class="card-body custom-box">
                <a href="{{ item.link }}" target="_blank" class="text-dark">
                  <h5 class="card-title" style="font-size: 20px;">{{ item.title }}</h5>
                </a>
                <p class="card-text" style="font-size:16px">{{ item.description_text }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted" style="font-size:12px">{{ item.pub_date }}</small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
