{% extends 'site1/base.html' %} {%load static%} {%block write-blog%}
<link href="{% static 'site1/css/write_blog.css' %}" rel="stylesheet" />
{% comment %} <link href="{% static 'site1/css/post.css' %}" rel='stylesheet'> {% endcomment %}
<title>Viết Blog</title>



<section class="slider-area">
  <div class="slider-area-photo"></div>
  <div class="container">
    <div class="slider-row">
      <div class="col-xl-6 col-lg-8 col-md-8">
        <div class="slider-row-caption">
          <h1>Viết Blog</h1>
          <nav aria-label="slider-nav">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'blog'%}" tabindex="0">blog</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#" tabindex="0">Viết Blog</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  {% if user.is_authenticated %}
  <h1 class="blog-heading">Viết Blog Mới</h1>
  <form class="form-container" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="blog-img">Hình ảnh minh hoạ</h2>
   
    {{ image_form.as_p }}
    
    
    {{ image_form.as_p }}

    {{ image_form.as_p }}
 
    <h2 class="blog-title">Nội dung bài viết</h2>
    {{ blog_form.as_p }}
    <button class="form-submit" type="submit">Đăng Bài</button>
  </form>
  {% else %}
<p class="login-to-write-blog" style="text-align: center; font-size:1.5rem;">Vui lòng <a href="{% url 'login' %}">đăng nhập</a> để viết blog.</p>
{% endif %}
</div>

{%endblock write-blog%}
